[[source]]
name = "pypi"
url = "https://pypi.org/simple"     
verify_ssl = true

[dev-packages]
black = "==22.3.0"
isort = "*"
flake8 = "*"
gdown = "*"
ipykernel = "*"

[packages]
uvicorn = "*"
pydantic = "*" 
torch = "*"
transformers = "*"
fastapi = "*"
torchvision = "*"
python-multipart = "*"
segmentation-models-pytorch = "*"
albumentations = "*"
streamlit = "*"
streamlit-option-menu = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
